<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="co.edu.icesi.shift.common.shiftcategory"
            class="co.edu.icesi.shift.plannerProject.NewPlannerProjectWizard"
            icon="icons/newfprj_wiz.gif"
            id="co.edu.icesi.shift.project.newplannerprojectwizard"
            name="Planner Project"
            project="true">
      </wizard>
   </extension>
   <extension
         id="shiftprojectnature"
         name="Shift"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="co.edu.icesi.shift.plannerProject.ShiftProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
