<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated applicability -->
      <package
            uri="http://applicabilitymodel/applicabilitymodel"
            class="applicabilitymodel.ApplicabilitymodelPackage"
            genModel="metamodels/applicability.genmodel"/>
   </extension>

</plugin>
