<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated applicability -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="applicabilitymodel.presentation.ApplicabilitymodelModelWizardID"
            name="%_UI_ApplicabilitymodelModelWizard_label"
            class="applicabilitymodel.presentation.ApplicabilitymodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ApplicabilitymodelModelFile.gif">
         <description>%_UI_ApplicabilitymodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated applicability -->
      <editor
            id="applicabilitymodel.presentation.ApplicabilitymodelEditorID"
            name="%_UI_ApplicabilitymodelEditor_label"
            icon="icons/full/obj16/ApplicabilitymodelModelFile.gif"
            extensions="applicabilitymodel"
            class="applicabilitymodel.presentation.ApplicabilitymodelEditor"
            contributorClass="applicabilitymodel.presentation.ApplicabilitymodelActionBarContributor">
      </editor>
   </extension>

</plugin>
